:root {
  --black: #2B283A;
  --red: #F55A5A;
  --link-color:#918E9B;
  --white: #fff;
  --line-color: #F5F5F5;
  --white3: #F5F7FB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

